@font-face { font-family:Lato Light; src:url(../fonts/Lato-Light.ttf)}
@font-face { font-family:Lato Heavy; src:url(../fonts/Lato-Heavy.ttf)}
@font-face { font-family:Nexa Light; src:url(../fonts/NexaLight.otf)}

html body{
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}

a{
  text-decoration: none;
}

.hero{
  background: url(../img/hero_image.png) no-repeat center center;
  height: 100vh;
}

.title{
  top: 0;
  position: absolute;
  color: #fff;
  clear: both;
  width: 100%;
}

.title h1{
  font-family: Lato Heavy;
  font-size: 72px;
  margin-bottom: 10px;
}

.title h2{
  font-family: Lato Light;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: normal;
}

.cta{
  background-color: #27d7b1;
  padding: 18px 100px 18px 100px;
  color: #fff;
  font-family: Lato Heavy;
  font-size: 30px;
  border:solid;
  border-radius: 10px;
  border-color: #27d7b1;
  margin-bottom: 5px;
  box-shadow: 0 5px 0 #126654;
}

.cta:hover {
  background-color: #fafafa;
  border-color: #fafafa;
  cursor: pointer;
  color: #27d7b1;
}

.title p{
  margin-top: 28px;
  font-family: Lato Light;
}

.title h3{
  font-family: Lato Light;
  font-size: 30px;
  max-width: 400px;
  font-weight: normal;
  margin: 40px auto 0 auto;
}

.singin{
  text-decoration: underline;
  color: #fff;
  font-weight: bold;
}

.appmixture{
  cursor: pointer;
    color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75em;
  z-index: 1;
  vertical-align: middle;
  font-size: 1.25em;
  display: inline;
  margin-top: 20px;
}

.appmixture:hover{
  background-color: #fafafa;
  color: #52596b;
}

.appmixture p{
  display: inline;
  vertical-align: text-bottom;
  font-family: Nexa Light;
}

.appmixture img{
  display: inline;
  max-height: 40px;
}

.inspired{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.inspired a{
  color: #fafafa;
  font-family: Lato Light;
}

/*retina*/
@media screen and (min-width: 2000px) {
  .hero{
    background: url(../img/hero_image_retina.png) no-repeat center center;
  }
}

@media screen and (max-width: 1440px) {
  .title{
    top:25%;
  }
  .title h2{
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 960px) {
  .title h1{
    font-size: 60px;
  }
  .title h2{
    font-size: 30px;
  }
  .cta{
    font-size: 24px;
  }
  .title h3{
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .title{
    top:35%;
  }
  .title h1{
    font-size: 48px;
  }
  .title h2{
    font-size: 24px;
  }
  .cta{
    font-size: 18px;
    padding: 14px 60px 14px 60px;
  }
  .title h3{
    font-size: 18px;
  }
  .appmixture{
    margin-top: 0;
  }
  .appmixture img{
    max-height: 30px;
  }
}

